<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM6h1srgGwpj5NbW_wo_amt_B0SnQPQDM</string>
	<key>GCM_SENDER_ID</key>
	<string>384792588963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engpush.engpush</string>
	<key>PROJECT_ID</key>
	<string>engpush-31385</string>
	<key>STORAGE_BUCKET</key>
	<string>engpush-31385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384792588963:ios:6fc009c4ad619566fd4516</string>
</dict>
</plist>